<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Two Pages Side by Side</title>
      <link rel="stylesheet" href="/static/styles_map.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqYx-DeSlI3zFJhrCav7sT5EMfKvgv5FI&libraries=places"></script>
      <script src="/static/script_map.js"></script>
    <script src= 
"https://code.jquery.com/jquery-3.5.1.js"> 
    </script> 


  </head>
  <body>
    <div class="row">
      
      <div class="column1">
        
        <!-- Trip Planner -->
          <div >
            <div style="display: flex; align-items: center;">
                <a style="color: #4b5563; cursor: pointer; position: relative; left: 20px; top: 3px;" href="new-trip.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </a>
                <p style="font-weight: 500; font-size: 1.25rem; margin-left: 1.5rem; position: relative; left: 10px;">Bon Voyage</p>
            </div>
            <div style="max-width: 100%; margin: auto; margin-top: 1rem; position: relative; bottom: 15px;">
              <div style="height: 5px; background-image: linear-gradient(to right, #86a7e5, #5d85ce, #3761ae); border-radius: 999px; width: 100%;"></div>
          </div>
          <!-- <h style="position: relative; bottom: 68px; left: 88%;"> Step 1 of 2</h> -->
        </div>
        

        <!-- Meals preferences-->
        <form action="/show_map" method="POST">
        <div style="margin-left: 60px; margin-top: 40px;">
          <input type="hidden" id="selectedActivitiesInput" name="preference">
          <h2 style="font-size: 25px; margin-bottom: 0.5rem; position: relative; left: 280px;">Hotel preferences</h2>
          
          <p style="position: relative; left: 255px;">What kind of amenities do you like?</p>
          
          
          <div>
            <span class="button1" onclick="toggleHotelSelection(0)">Public Wifi</span>
            <span class="button1" onclick="toggleHotelSelection(1)">Nonsmoking rooms</span>
            <span class="button1" onclick="toggleHotelSelection(2)">Free parking</span>
            <span class="button1" onclick="toggleHotelSelection(3)">Meeting rooms</span>
            <span class="button1" onclick="toggleHotelSelection(4)">Microwave</span>
            <br>
            <span class="button1" onclick="toggleHotelSelection(5)">Pool</span>
            <span class="button1" onclick="toggleHotelSelection(6)">Laundry Service</span>
            <span class="button1" onclick="toggleHotelSelection(7)">Hot Tub</span>
            <span class="button1" onclick="toggleHotelSelection(8)">Restaurant</span>
            <span class="button1" onclick="toggleHotelSelection(9)">Family Rooms</span>
        </div>
          <script>
             const hotelButtons = document.querySelectorAll('.button1');
        
        function toggleHotelSelection(index) {
            hotelButtons[index].classList.toggle('selected');
            updateSelectedPreferences();
        }

        function updateSelectedPreferences() {
            const selectedButtons = document.querySelectorAll('.button1.selected');
            const selectedButtonNames = Array.from(selectedButtons).map(button => button.textContent.trim());
            const selectedPreferencesInput = document.getElementById('selectedActivitiesInput');
            selectedPreferencesInput.value = selectedButtonNames.join(',');
        }
//
// var selectedOptions = [];

// function toggleHotelSelection(index) {
//     var option = document.getElementsByClassName('button1')[index];
//     var isSelected = option.classList.contains('selected');
    
//     if (isSelected) {
//         option.classList.remove('selected');
//         selectedOptions.splice(selectedOptions.indexOf(index), 0);
//     } else {
//         if (selectedOptions.length < 6) {
//             option.classList.add('selected');
//             selectedOptions.push(index);
//         } else {
//             alert("You can only select up to 5 options.");
//             return;
//         }
//     }

//     var nextButton = document.getElementById('nextButton');
//     nextButton.disabled = selectedOptions.length < 5;
// }

// function sendData() {
//     // Implement your logic to handle sending data
//     console.log("Selected options:", selectedOptions);
// }
          </script>
      </div>

      <hr style="position: relative; top: 100px;">
      
        <!-- Budget level -->
        
        <div style="margin-left: 60px; margin-top: 180px;">
          <input type="hidden" id="resturantinput" name="preference_2">
          <h2 style="font-size: 25px; margin-bottom: 0.5rem;  position: relative; left: 250px;">Restaurant preferences</h2>
          
          <p style="position: relative; left: 254px;">What kind of amenities do you like?</p>
          
          
          <div>
              <span class="button2" onclick="toggleRestaurantSelection(0)">Nightlife</span>
              <span class="button2" onclick="toggleRestaurantSelection(1)">Breakfast & Brunch</span>
              <span class="button2" onclick="toggleRestaurantSelection(2)">Burgers</span>
              <span class="button2" onclick="toggleRestaurantSelection(3)">Chinese</span>
              <span class="button2" onclick="toggleRestaurantSelection(4)">Mexican</span>
              <br>
              <span class="button2" onclick="toggleRestaurantSelection(5)">Indian</span>
              <span class="button2" onclick="toggleRestaurantSelection(6)">Pubs</span>
              <span class="button2" onclick="toggleRestaurantSelection(7)">pizza</span>
              <span class="button2" onclick="toggleRestaurantSelection(8)">Coffee & Tea</span>
              <span class="button2" onclick="toggleRestaurantSelection(9)">italian</span>
          </div>
          <script>



              const restaurantButtons = document.querySelectorAll('.button2');
        
        function toggleRestaurantSelection(index) {
            restaurantButtons[index].classList.toggle('selected');
            updateSelectedPreferences_2();
        }

        function updateSelectedPreferences_2() {
          const selectedButtons = document.querySelectorAll('.button2.selected');
            const selectedButtonNames = Array.from(selectedButtons).map(button => button.textContent.trim());
            const selectedPreferences_2Input = document.getElementById('resturantinput');
            selectedPreferences_2Input.value = selectedButtonNames.join(',');
        }
          </script>
      
      </div>



      <br><br><br>
   
        <!-- Next Button -->

        <div>      
          <button onclick="sendData()" id="nextButton" class="button">Next →</button>
        </div>
        </form>
  </div>
      
      
      <div class="column2">
        <body onload="initMap()">
            <h1 class="text-center"></h1>
             
            <div class="container">
                
                <div id="map" style="height: 910px; width:102%; left: -1%; top:-32px;"></div>
        
            </div>
            <!-- <button onclick="calcRoute()"></button> -->

        </body>
      </div>
    </div>
  </body>
</html>
